/* Adicione esse código no estilo do seu arquivo HTML (por exemplo, no cabeçalho <style>) */

/* Estilo para as respostas */
.post__reply {
    display: flex;
    align-items: center;
    padding: 8px;
  }
  
  .post__reply img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .post__reply h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }
  
  .post__reply-body {
    display: flex;
    flex-direction: column; /* Altera a direção para vertical */
  }
  
  .post__reply-body span {
    font-size: 14px;
  }
  
  /* Estilo para o botão "Mostrar Respostas" */
  .post__show-hide-button {
    background-color: transparent;
    border: none;
    color: #1da1f2; /* Cor do Twitter */
    font-size: 14px;
    cursor: pointer;
    outline: none;
    text-decoration: underline;
    padding: 0;
  }
  
  /* Estilo para ocultar o botão de mostrar respostas quando não há respostas */
  .post__footer {
    display: flex;
    flex-direction: column; /* Altera a direção para vertical */
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
  }
  .home_h2 {

    text-decoration: none;
    color:#212529;

  }

  .username-post {
    text-decoration: none;
    font-weight: bold;
    color: black;
    position: relative;
    overflow: hidden;
  }
  
  .username-post::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out; /* A transição controla o surgimento da linha */
  }
  
  .username-post:hover::before {
    width: 100%; /* Quando o mouse passa sobre o elemento, a linha aparece gradualmente */
  } 

  .custom-card {
    width: 80%; /* Defina a largura desejada em porcentagem ou em pixels */
    margin: 0 auto; /* Centralize o card horizontalmente na página */
}

.username-post {
  text-decoration: none;
  font-weight: bold;
  color: black;
  position: relative;
  overflow: hidden;
}

.username-post::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out; /* A transição controla o surgimento da linha */
}

.username-post:hover::before {
  width: 100%; /* Quando o mouse passa sobre o elemento, a linha aparece gradualmente */
}